<%- model_class = FemaleSport.new.class -%>
<div class="page-header">
  <h1>Female Sports Index:</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:image_url) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @female_sports.each do |female_sport| %>
      <tr>
        <td><%= link_to female_sport.id, female_sport_path(female_sport) %></td>
        <td><%= female_sport.title %></td>
        <td><%= female_sport.image_url %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_female_sport_path(female_sport), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      female_sport_path(female_sport),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_female_sport_path,
            :class => 'btn btn-primary' %>
