<%- model_class = @female_sport.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<table class="table table-striped table-bordered">
  <tbody>
	<tr>
	  <td><%= model_class.human_attribute_name(:title) %>:</td>
	  <td><%= model_class.human_attribute_name(:image_url) %>:</td>	  
	</tr>
	<tr>
	  <td><%= @female_sport.title %></td>
	  <td><%= @female_sport.image_url %></td>
	</tr>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              female_sports_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_female_sport_path(@female_sport), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              female_sport_path(@female_sport),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
