<p>Enter your Facebook, Flickr and/or Youtube links below:</p>
<%= simple_form_for @user, :html => { class: 'form-vertical' } do |f| %>
	<%= f.input :fb_link, label: 'Facebook', 
			    placeholder: 'http://www.facebook.com/USERNAME' %>
	<%= f.input :flickr_link, label: 'Flickr',
	 			placeholder: 'http://www.flickr.com/USERNAME'%>
	<%= f.input :youtube_link, label: 'Youtube', 
				placeholder: 'http://www.youtube.com/USERNAME' %>
	<%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>