<% provide(:title, 'My Dashboard') %>
<section class="hero-unit hero-unit-gray">
  <div class="tabbable dashboard-tabs">
	<h1>Welcome <%= @user.first_name + "!" %></h1>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab"><span class="u">Step 1:</span> My Profile</a></li>
		<li><a href="#tab2" data-toggle="tab"><span class="u">Step 2:</span> My Sports</a></li>
		<li><a href="#tab3" data-toggle="tab"><span class="u">Step 3:</span> My Highlights</a></li>
		<li><a href="#tab4" data-toggle="tab"><span class="u">Step 4:</span> My Media Channels</a></li>
		<li><a href="#tab5" data-toggle="tab"><span class="u">Step 5:</span> Fan Section</a></li>
	</ul><!--/ul.nav.nav-tabs-->
	<div class="tab-content">
	  <div class="tab-pane active" id="tab1">
		<%= render 'users/profile' %>
	  </div><!--PROFILE/div.tab-pane-->
	  <div class="tab-pane" id="tab2">
		<p>dropdown to choose a sport</p>
		<p>input field for position</p>
		<p>input field for coach</p>
	  </div><!--/SPORTSdiv.tab-pane-->
	  <div class="tab-pane" id="tab3">
		<%= render 'users/highlights' %>
	  </div><!--HIGHLIGHTS/div.tab-pane-->
	  <div class="tab-pane" id="tab4">
		<%= render 'users/media' %>
	  </div><!--MEDIA/div.tab-pane-->
	  <div class="tab-pane" id="tab5">
		<%= render 'users/fans' %>
	  </div><!--FANS/div.tab-pane-->
	</div>
  </div>
</section>