<% provide(:title, "Edit #{@user.name}") %> 

<section class="profile-block">
	<div class="row">
		<div class="span4">
			<header class="row">
			  <div class="span1"><%= image_tag @user.profile_image, class: 'profile-img' %></div>
			  <div class="span3"><h1><%= @user.name %></h1></div>
    		</header>
    	</div>
	</div>
	
	<div class="tabbable span4">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab1" data-toggle="tab">Profile</a></li>
			<li><a href="#tab2" data-toggle="tab">Sports</a></li>
			<li><a href="#tab3" data-toggle="tab">Media</a></li>
		</ul><!--/ul.nav.nav-tabs-->
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
		  		<%= simple_form_for @user, :html => { multipart: true, class: 'form-vertical' } do |f| %>
					<%= f.input :school_year, label: 'School Year', placeholder: 'i.e. Junior' %>
					<%= f.input :location, placeholder: 'i.e. Wilmington, DE' %>
					<%= f.input :high_school, label: 'High School', 
										      placeholder: 'i.e. Fallston High School' %>
					<%= f.input :goal, label: 'What is your goal this year?', as: 'text', 
											                   input_html: { cols: 50, rows: 2 }  %>
					<% if @user.background_image? %>
						<%= image_tag @user.background_image_url(:thumb), class: 'background_image_thumb' %>
					<% end %>						
					<%= f.input :background_image, as: :file, label: 'Profile Background' %>
				    <%= f.submit "Save", class: "btn btn-large btn-primary" %>
	      	    <% end %>
			</div><!--/div.tab-pane.active-->
			<div class="tab-pane" id="tab2">
				<p>dropdown to choose a sport</p>
				<p>input field for position</p>
				<p>input field for coach</p>
			</div><!--/div.tab-pane-->
			<div class="tab-pane" id="tab3">
				<%= simple_form_for @user, :html => { class: 'form-vertical' } do |f| %>
					<%= f.input :fb_link, label: 'Facebook' %>
					<%= f.input :flickr_link, label: 'Flickr' %>
					<%= f.input :youtube_link, label: 'Youtube' %>
					<%= f.submit "Save", class: "btn btn-large btn-primary" %>
				<% end %>
			</div><!--/div.tab-pane-->
		</div><!--/div.tab-content-->
	</div><!--/div.tabbable.span5-->
</section><!--/.profile-block-->