<% provide(:title, @user.name) %>
<header class="goal">
	<div class="pull-left">
		<%# render 'users/follow_form'  %>
		<%= render 'follow_form' if signed_in? %>
	</div>
	<h1><%= @user.goal %></h1>
</header>

<section class="profile-block">
  <div class="row">
    <div class="span4"> 
	  <section class="row center">
	    <div class="span4">
		  <h1><%= @user.name %></h1>
		  <h3><%= @user.school_year %></h3>
		</div>
      </section><!--/section.row.center-->
	  <section class="row center">
	    <div class="span4">
		  <h4><%= @user.high_school %></h4>
		  <h4><%= @user.location %></h4>
		</div>
	  </section><!--/section.row.center-->
	  <section class="row center">
	    <div class="span4">
			<h2>highlights</h2>
			<p><%= @user.highlight_one %></p>
			<p><%= @user.highlight_two %></p>
			<p class="last"><%= @user.highlight_three %></p>
		</div>
	  </section><!--/section.row.center-->
	  <section class="row center">
	    <div class="span4">
		  <p class="services-nav">
		    <%= link_to youtube_icon, @user.youtube_link, target: '_blank' %>
			<%= link_to instagram_icon, @user.instagram_link, target: '_blank' %>
			<%= link_to facebook_icon, @user.fb_link, target: '_blank' %>
		  </p>
		</div>
	  </section><!--/section.row.center-->
	  <section class="row center">
	    <div class="span4">
		  <h2>Sports</h2>
		</div>
	  </section><!--/section.row.center-->
    </div><!--/div.span4-->
  </div><!--/div.row-->
</section><!--/section.profile-block-->