<% provide(:title, current_user.name) %>
<h1><%= current_user.name %></h1>
<table class="table table-striped table-bordered">
	<tbody>
		<tr>
			<td>ID</td>
			<td><%= @user.id %></td>
		</tr>
		<tr>
			<td>Provider</td>
			<td><%= @user.provider %></td>
		</tr>
		<tr>
			<td>Facebook ID</td>
			<td><%= @user.uid %></td>
		</tr>
		<tr>
			<td>User Full Name</td>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<td>User First Name</td>
			<td><%= @user.first_name %></td>
		</tr>
		<tr>
			<td>User Last Name</td>
			<td><%= @user.last_name %></td>
		</tr>
		<tr>
			<td>Username</td>
			<td><%= @user.username %></td>
		</tr>
		<tr>
			<td>User Email</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td>User Gender</td>
			<td><%= @user.gender %></td>
		</tr>
		<tr>
			<td>User Location</td>
			<td><%= @user.location %></td>
		</tr>
		<tr>
			<td>FB Username URL</td>
			<td><%= @user.fb_link %></td>
		</tr>
		<tr>
			<td>User Profile Image URL</td>
			<td><%= @user.profile_image %></td>
		</tr>
	</tbody>
</table><!--/ .table .table-striped .table-bordered--> 