<footer class="footer">
  <hr class="thick">
  <p class="copyright">
   	&copy; 2012 studentathlete.me. All Rights Reserved. 
  </p><!--/.copyright-->

  <p class="nav">
    <%= link_to "Home", root_path %>
	<span class="divider"> </span>
    <%= link_to "About", about_path %>
    <span class="divider"> </span>
	<%= link_to "FAQ", faq_path %>
	<span class="divider"> </span>
	<%= link_to "Terms", terms_path %>
	<span class="divider"> </span>
	<%= link_to "Privacy", privacy_path %>
	<span class="divider"> </span>
    <%= link_to "Contact", contact_path %>
    <span class="divider"> </span>
  </p><!--/.nav-->
  
  <div class="fb-like" data-href="http://studentathlete.me" data-send="false" data-width="450" 	
	data-show-faces="true"></div><!--/.fb-like-->
  <div id="fb-root"></div><!--/.fb-root-->
  <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=130925530376635";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</footer><!--/.footer-->