<%= render 'layouts/header' %>
<section class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	  <a class="close" data-dismiss="alert">×</a><!--/.close-->
	  <%= msg %>
    </div><!--/.alert.alert-'name'--> 
    <% end %>
	<%= yield %>
<%= render 'layouts/footer' %>
</section><!--/#container-->