<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<% if current_user %>  
  <!--This is the partial that loads the _header.html.erb file-->	
  <%= render 'layouts/header' %>
  <section class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		<a class="close" data-dismiss="alert">×</a><!--/.close-->
		<%= msg %>
	  </div><!--/.alert.alert-'name'--> 
    <% end %>
	<%= yield %>
<% else %>
  <!--This is the partial that loads the _header.html.erb file-->	
  <%= render 'layouts/header' %>
  <section class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		<a class="close" data-dismiss="alert">×</a><!--/.close-->
		<%= msg %>
	  </div><!--/.alert.alert-'name'--> 
    <% end %>
	<%= yield %>
  <!--This is the partial that loads the _footer.html.erb file-->
  <%= render 'layouts/footer' %>
<% end %> 
  </section><!--/#container-->
</body>
</html>
