<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
	if (window.location.hash == '#_=_')window.location.hash = '';
  </script>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<% if params[:controller] == "users" %>
<body style="<%= show_user_bg %>">
  <%= render 'layouts/main_user' %>
<% else %>  
  <%= render 'layouts/main_public' %>
<% end %> 
</body>
</html>
